button.success(ng-click="vm.login()") login

hr

button.danger(ng-click="vm.logout()") logout

hr

button.warning(ng-click="vm.refreshToken()") refreshToken

hr

button.info(ng-click="vm.isLoggedIn()") isLoggedIn

hr

button.info(ng-click="vm.isAuthenticated()") isAuthenticated

hr

label callbacks:

p {{ vm.message }}

hr

label token:

p {{ vm.token }}

hr

label refresh token:

p {{ vm.aRefreshToken }}