button.success(ng-click="vm.login()") login

hr

button.danger(ng-click="vm.logout()") logout

hr

button.info(ng-click="vm.isLoggedIn()") isLoggedIn

hr

button.info(ng-click="vm.workApi()") work api

hr

label callbacks:

p {{ vm.message }}